@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap');
.custom-column2{
    position: absolute;
    top: 33%;
    left: 550px;
    transform: translate(-50%, -50%);
}

.custom-row{
    position: absolute;
    top: 70%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.Userlogo {
    display: grid;
    text-align: center;
}
.lineborde{
    border-bottom: 2px solid #8f8f8f !important;
}
.user-label {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Inter', sans-serif !important;
}
  
.Userlogo >ion-icon{
    width: 130px;
    height: 130px;
    color: black;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    margin-top: 40px;
}
.name-label {
    grid-row: 3;
    grid-column: 1;
    font-weight: bold;
    font-family: 'Inter', sans-serif !important;
}

.Logout >ion-icon{
    color: black;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
