@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.tooglemove{
    margin-right: 70em !important;
}
.tituloEntregas{
    text-align: center;
    margin-top: 20px;
    color: rgb(21,202,243);
    font-family: "Public Sans", sans-serif;
}