.cont{
    width: 100% !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    background: rgb(21,202,243);
    background: radial-gradient(circle, rgba(21,202,243,1) 0%, rgba(15,34,89,1) 76%);
    font-family: 'Inter', sans-serif !important;
}

.form{
    width: 35%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titulo{
    font-weight: bold;
    margin-left: 45px;
}
.posicion{
    font-weight: bold;
    margin-left: 50px;
}
.reset{
    width: 350px !important;
    margin-right: 50px !important;
    border-bottom: 2px solid #8f8f8f !important;
}
.espaciado{
    margin-top: 30px !important;
}
.subtitulo{
    font-size: 14px;
    font-weight: bold;
    margin-left: 45px;
    margin-bottom: 60px;
}

.btnhandler{
    margin-bottom: 50px;
    margin-left: 540px;
    left: -52%;
}
