@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.contenedorPrincipal{
    width: 400px;
    height: 160px;
    display: flex;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    flex-direction: column;
    z-index: 0 !important;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px white;
    background-color: white;
}

.contenedorSecundario{
    display: flex;
    align-items: center;
}
.contenedorSecundario img{
    margin-right: 20px;
    vertical-align: middle;
    margin-left: 20px;
}

.iconoConfirmacion{
    width: 20px;
}

.tituloEmergente{
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

.mensaje{
    margin-left: 20px;
    font-family: "Public Sans", sans-serif;
}

.botonAceptar{
    width: 80px;
    height: 28px;
    font-size: 13px;
    font-family: "Public Sans", sans-serif;
    border: none;
    border-radius: 7px;
    margin-left: auto;
    margin-right: 10px;
}
.contenedorPrincipal>p{
    color: black;
}